/*
$color-primary   : $fountain-blue;
$color-secondary : $scooter;
$color-accent    : $emerald;
$color-shadow    : rgba($black, .2);
*/
/*
$ui-colors: (
	default : $fountain-blue,
	success : $emerald,
	error   : $sunglo,
	warning : $coral,
	info    : $purple-majesty
);
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,600&display=swap");
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.srt {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

* input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

*, :before, :after {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  line-height: 1.42857143rem;
  letter-spacing: 0.4px;
}

h1 {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  margin: 0.67em 0;
  text-wrap: wrap;
}

ul {
  color: #ce4125;
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

h5 {
  margin-top: 0;
}

h3 {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  object-fit: cover;
}

label {
  display: none;
}

.container {
  width: 100%;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container h1 {
  margin-bottom: 2px;
}
.container small {
  display: block;
  width: 100%;
  text-align: center;
  line-height: 1.1em;
  font-size: 0.7em;
}

.col {
  margin-top: 15px;
  padding: 30px;
  color: #323544;
  border: 1px solid #cccccc;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  border-radius: 15px;
}

.colA {
  margin-top: 15px;
  padding: 30px;
  color: #323544;
  border: 1px solid #cccccc;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  border-radius: 15px;
}

.actions {
  padding: 2px;
}
.actions #loadImage {
  margin-top: 2px;
  width: 100%;
}
.actions #addPicture {
  width: 100%;
}

#email {
  display: block;
  text-align: center;
  font-size: 1.2em;
  border: 1px solid #cccccc;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  height: 35px;
  width: 100%;
}

#addEmail {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  height: 37px;
  width: 100%;
  border-width: 1px;
  margin-bottom: 15px;
}

#err_list {
  color: #fff;
  border: 1px solid transparent;
  margin-top: 10px;
  border-radius: 2px;
  min-height: 30px;
}
#err_list .error_msg {
  background-color: #a94442;
}

#list-of-pictures {
  height: 300px;
}

.list-of-pictures__img {
  width: 100%;
  height: 100%;
}

/* The container must be positioned relative: */
.custom-select {
  margin-top: 25px;
  width: 100%;
  height: 25px;
  margin-bottom: 10px;
  border: 1px solid #cccccc !important;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  position: relative;
  font-family: Arial;
}
.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  border: 1px solid #cccccc;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  text-align: center;
  height: 25px;
  background-color: #fff;
  word-break: break-all;
  overflow: hidden;
  padding-right: 30px;
  padding-left: 30px;
  /* Style the arrow inside the select element: */
  /* Point the arrow upwards when the select box is open (active): */
}
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #0b0b0b transparent transparent transparent;
  z-index: 99;
}
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: #fff;
  text-align: center;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  word-break: break-all;
  /* style the items (options), including the selected item: */
}
.select-items div, .select-items .select-selected {
  color: #0b0b0b;
  padding: 8px 16px;
  border: 1px solid #cccccc !important;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.select-items div:hover, .select-items .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

#previews {
  text-align: center;
}
#previews .preview {
  position: relative;
  margin-top: 15px;
  padding: 30px;
  color: #323544;
  border: 1px solid #cccccc;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  border-radius: 15px;
}
#previews .preview-title {
  font-size: 0.9rem;
  word-wrap: break-word;
}
#previews .preview button {
  position: absolute;
  right: 0px;
  top: 1px;
  font-size: 1.5em;
  background-color: transparent;
  color: red;
  border: 0;
}
#previews .preview ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
#previews .preview ul li {
  display: block;
  margin: 1%;
  width: 48%;
  height: 150px;
}
#previews .preview ul img {
  width: 100%;
  height: 100%;
}

.btn {
  display: inline-block;
  color: #fff;
  font-family: inherit;
  font-weight: 400;
  font-size: 1.063rem;
  text-align: center;
  vertical-align: middle;
  background-color: #333645;
  background-image: none;
  min-height: 50px;
  height: auto;
  line-height: 35px;
  padding: 5px 15px;
  margin-bottom: 0;
  text-transform: uppercase;
  border: 1px solid #333645;
  border-radius: 3px;
}
.btn:hover {
  color: #333645;
  background-color: #fff;
  border: 1px solid #333645;
}

@media (min-width: 402px) {
  #previews .preview-title {
    font-size: 1.1rem;
  }
}
@media (min-width: 768px) {
  #err_list {
    width: 100%;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
  }
  .container small {
    font-size: 0.8em;
  }
  #previews .preview ul {
    max-height: 300px;
    overflow-y: scroll;
  }
  #list-of-pictures {
    height: 500px;
    width: 100%;
  }
  .col {
    width: 48%;
    margin-right: 1%;
    margin-left: 1%;
  }
  .colA {
    width: 48%;
    height: 100%;
    margin-right: 1%;
    margin-left: 1%;
  }
}

/*# sourceMappingURL=application.css.map */
