.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    width: 1200px;
}

#list-of-pictures{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#loadImage {
    margin-top: 25px;
}

.header {
    text-align: center;
}

.actions {
    text-align: center;
}

.col {
    width: 50%;
}

.test {
    display: block;
}