// ==========================================================================
// Container
// ==========================================================================

.container {
    width: 100vw;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.col {
    margin-top: 15px;
}