// ==========================================================================
// Container
// ==========================================================================

.container {
    width: 100%;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;

    h1 {
        margin-bottom: 2px;
    }

    small {
        display: block;
        width: 100%;
        text-align: center;
        font-size: .7em;
    }
}

.col {
    margin-top: 15px;
    padding : 30px;
    color: #323544;
    border: 1px solid #cccccc;
    box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    border-radius: 15px;
}

.colA {
    margin-top: 15px;
    padding : 30px;
    color: #323544;
    border: 1px solid #cccccc;
    box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    border-radius: 15px;
}