// ==========================================================================
// Base Styles
// ==========================================================================

*, :before, :after {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-size: $base__font-size;
	line-height: $base__line;
	letter-spacing: $letter-space;
}

h1 {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    margin: 0.67em 0;
    text-wrap: wrap;
}

ul {
	color: $dev;
	list-style: none;
	text-align: center;
	margin: 0;
	padding: 0;
}

h5 {
	margin-top: 0;
}

h3 {
	margin-top: 0;
	margin-bottom: 0;
}

img {
	object-fit: cover;
}

label {
	display: none;
}















